#chat-wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 2%;
    background: rgb(209, 94, 94);
}

#chatbox {
    margin: auto;
    width: 70%;
    height: 400px;
    background: white;
    border: 20px solid rgb(209, 94, 94);
    padding: 2%;
}

#output {
    position: relative;
	top: 10%;
	left: 0px;
    right: 5%;
    width: 50%;
}

#input {
    position: relative;
	top: 10%;
	left: 0px;
    right: 5%;
    width: 50%;
}

/* #input {
    width: 50%;
    float: right;
    margin-left: 5%;
    margin-top: -1%;
    margin-right: -5%;
} */